# ignore all .a files
*.pyc
# but do track lib.a, even though you're ignoring .a files above
app/config.py
# only ignore the TODO file in the current directory, not subdir/TODO
/TODO
# ignore all files in any directory named build
__pycache__/
# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt
# ignore all .pdf files in the doc/ directory and any of its subdirectories
doc/**/*.pdf