body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    z-index: 89;
    position: fixed;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}

.msIco{
    padding-top: 0px;
    height: 40px;
}

main {
    padding-top: 50px;
    flex: 1 0 auto;
}

.platforms{
    float: right;
    padding-top: 8px;

}


.logocontainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

#mslogo{
    width: 150px;
}

.fixed-action-btn-left{
    position: fixed;
    z-index: 90;
}

.mathsendLogo{
    font-weight: bold;
    font-size: 46px;
    padding-top: 5px;
}



.topImg{
    float: right;
    padding-top:8px !important;
    width: 2px !important
}

#h1h{
    font-size: 108px;
}

#advert_line{
    width:400px;
    max-width:100%;
    height:auto;
}

#platform{
    width:40px;
}
/* The loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid darkorange;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}