body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    z-index: 99;
    position: fixed;
    width: 100%;
    font-weight: bold;
    letter-spacing: 1px;
}

.msIco{
    padding-top: 0px;
    height: 40px;
}

main {
    padding-top: 50px;
    flex: 1 0 auto;
}

.platforms{
    float: right;
    padding-top: 8px;
}


.logocontainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

#mslogo{
    width: 150px;
}

.fixed-action-btn-left{
    position: fixed;
    z-index: 100;
}

.mathsendLogo{
    font-weight: bold;
    font-size: 46px;
    padding-top: 5px;
}

.advert {
	display: block;
    max-width: 90%;
    height: auto;
    margin:auto;  
}

#topImg{
    padding-top:80px;
    width: 5px
}