
{% extends "screens_template.html" %}
{% block title %}
	<title> MathSend: Advertise with us</title>
{% endblock %}

	{% block content %}
<div class="container section flow-text" >
<h4 class="grey-text"><strong>Broadcast your advert to problem solvers</strong></h4>


<div class="card-panel">
	<h4>	Frequently Asked Questions</h4>

			<p>
			Form of adverts:
			For now, we only provide in-line adverts as shown on our <a href="/">home page</a>. though we plan to support site background or "site-takeover" advert, where the brand design will be used as the bacjground of the site, upon contacting us.

			</p>
			<p>

			How many and how do you display the adverts:
			Now,two in-line advert slots are displayed randomly at our single advert space. That is,the two adverts have equal chances of being displayed to the visitor per page view. It must be noted that we don't rotate adverts on the users screen, instead, we display any one of the two adverts and make it static untill the user moves to another page or reloads.

			</p>
			<p>

			Can I buy the two slots:
			Yes, but only when the two are vacant and two different designs must be provided.

			</p>
			<p>

			What is the required size:
			We advise you make your design 728px x 90px, that is the width should be 728px and height should be 90px, but you can send in other sizes. It must be noted that higher dimensions will scaled down to the stated size while lower dimentions will be set to the appropriate ratio in order to prevent distortion.

			</p>
			<p>

			Can you design for me:
			We encourage you to get the design done, and follow the stated guide-lines, but in-case you couldn't locate a good Graphic-designer we have some in the house that can get it done for you but at an additional price.

			</p>
			<p>

			Kind of adverts:
			We pay attention to education related adverts though other ones are also accepted, provided they are not in anyway related to pornography. It must be noted that pornographic contents are strictly not welcomed by us.

			</p>
			<p>

			Duration:
			Advert placement are paid for in 15days or 30days interval, though shorter and longers periods can be discussed upon contact.

			</p>
			<p>

			Pricing:
						  
			<li>
			15 days for 1 slot = N20,000 (S55)
			</li>
			<li>
			15 days for 2 slots = N35,000 (S100)
			</li>
			<li>
			30 days for 1 slots = N35,000 (S100)
			</li>
			<li>
			30 days for 2 slots = N60,000 (S170)

			</li>
			</p>

			<p>

			Kindly fill our <a href="/contact">contact form</a> for discussions.

			</p>


	</div>
	</div>
{% endblock %}
