
{% extends "screens_template.html" %}
{% block title %}
  <title> MathSend:Contact Us</title>
{% endblock %}

  {% block content %}
  <div class="container flow-text" >
      <h4 class="grey-text"><strong> Contact Form</strong></h4>
      

 
  {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>
 
  {% else %}
 
    {% for message in form.name.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.subject.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    {% for message in form.message.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
 
    <form action="{{ url_for('contact') }}" method=post>
      {{ form.hidden_tag() }}
 
      {{ form.name.label }}
      {{ form.name }}
 
      {{ form.email.label }}
      {{ form.email }}
 
      {{ form.subject.label }}
      {{ form.subject }}
 
      {{ form.message.label }}
      {{ form.message }}
 
      <button class="btn-large waves-effect waves-light grey col s12 m6 push-m3"  type="submit">
          <i class="large material-icons">send</i>
      </button>
    </form>
 
  {% endif %}
</div>
{% endblock %}
