{% extends "index_template.html" %}
    {% block title %}
    <title>{{ recent["ques"] }}</title>
    {% endblock %}
    {% block solved %}
    <button class="btn-large waves-effect waves-light grey col s12 m6 l6"  type="submit" name="submit" value="Solve It">
        <i class="large material-icons">send</i>
    </button>
    <h1 style="font-size:16px"><strong> Question: {{ recent["ques"] }}</br></br>
     Solution: {{ recent["answ"] }}</strong></h1>
    
    {% endblock %}
    
    {% block quote %}
	    {{ recent["quote"] }}
    {% endblock %}
			 	